@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">@($"Welcome, {Context.Session.GetString("Name")}")</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="row">
        <div class="col-lg-4 m-auto">
            @if (@Context.Session.GetString("EmpId") != null) {
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="@($"/profile_images/{Context.Session.GetString("ProfileImage")}")" alt="avatar"
                            width="150" height="150" class="rounded-circle" />
                        <h5 class="my-3">@Context.Session.GetString("Name")</h5>
                        <p class="text-muted mb-1">Full Stack Developer</p>
                        @* <p class="text-muted mb-4">Bay Area, San Francisco, CA</p> *@
                    </div>
                </div>
            }
        </div>
    </div>
</div>
